*
    box-sizing border-box
    font-family sans-serif
    margin 0
    padding 0
    transition .3s all

.full
    position absolute
    bottom 0
    left 0
    top 0
    right 0

.block
    margin 0 auto
    width calc((250px + 32px) * 5)